.search_home {
  padding-top: 114px;
  padding-bottom: 50px;
  background: #f0ebeb;
}
.search_home .container {
  display: flex;
  justify-content: space-between;
}
.search_home_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_home_form_btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}
.search_home_form_input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 357px;
  height: 100%;
  padding: 10px;
  color: #6b6868;
}
.selector {
  width: 150px;
  height: 40px;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border: 1px solid #7a7b7fab;
  border-radius: 3px;
}

.selector select {
  border: none;
  width: 100%;
  outline: none;
  padding-left: 2px;
  background-color: transparent;
}
.selector-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.selector-logo span:first-child {
  display: inline-block;
  background-color: #7a7b7f;
  width: 23px;
  height: 2px;
}
.selector-logo span:nth-child(2) {
  display: inline-block;
  background-color: #7a7b7f;
  width: 15px;
  height: 2px;
}
.selector-logo span:last-child {
  display: inline-block;
  background-color: #7a7b7f;
  width: 5px;
  height: 2px;
}

.selector select option {
  background-color: #f0ebeb;
  color: #6b6868;
}

.selector select option[value="all"] {
  font-weight: bold;
}

.trending_section_title {
  padding: 50px 0;
}

@media screen and (max-width: 562px) {
  .search_home .container {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .search_home_form_input {
    width: 100%;
  }
}
